
@page "/Category"

<h3>Category</h3>


<div>

    <table style="border: 2px solid black; font-family:Aria; background-color:aquamarine ">

        <tr>

            <td>CategoryId</td>

            <td> <input type="text" /></td>

        </tr>

        <tr>

            <td>CategoryName</td>

            <td> <input type="text" /></td>

        </tr>

        <tr>

            <td>

                <button class="btn btn-primary" @onclick="NewCategory">Save</button>

            </td>

        </tr>

    </table>

</div>

