@page "/"

<h1>MOTORKONTOR!</h1>

WELCOME to Vehicle Registration Office!

<SurveyPrompt Title="The Danish Motor Vehicle Agency has four vehicle registration offices in Jutland 
              (Aalborg and Aarhus), on Funen (Odense) and on Zealand (Høje-Taastrup)." />

<h2>Office hours!</h2>
<p>Monday 9.00-16.00 </p>
<p>Tuesday-Friday 9.00-14.00</p>
