@page "/registration"
<h3>Registration</h3>


<div>

    <table style="border: 2px solid black; font-family:Aria; background-color:aquamarine ">

        <tr>

            <td>RegistrationId</td>

            <td> <input type="text" /></td>

        </tr>

        <tr>

            <td>FirstRegistrationdate</td>
            <td> <input type="text" /></td>

        </tr>

        <tr>

            <td>

                <button class="btn btn-primary" @onclick="CreateNewRegistration">Save</button>

            </td>

        </tr>

    </table>

</div>
