@page "/vehicle"
<h3>Vehicle</h3>

<div>

    <table style="border: 2px solid black; font-family:Aria; background-color:aquamarine ">

        <tr>

            <td>VehicleId</td>

            <td> <input type="text" /></td>

        </tr>

        <tr>

            <td>Make</td>

            <td> <input type="text" /></td>

        </tr>


        <tr>

            <td>Model</td>

            <td> <input type="text" /></td>

        </tr>


        <tr>

            <td>CreateDate</td>
            <td> <input type="text" /></td>

        </tr>

        <tr>

            <td>

                <button class="btn btn-primary" @onclick="SaveVehicle">Save</button>

            </td>

        </tr>

    </table>

</div>

