@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://skat.dk/skat.aspx?oid=2244354" target="_blank">About</a>
            <a href="https://localhost:44316/adress" target="_blank">Motor vehicles Address</a>
            <a href="https://localhost:44316/registration" target="_blank">Registration</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
